<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <link rel="stylesheet" href="style.css" />
  <title>{% block title %}{% endblock %} - Waterbatch</title>
  {% endblock %}
</head>

<body>
  <div id="navbar">
    {% block navbar %}
    This is the default navbar
    {% endblock %}
  </div>
  <div id="content">
    {% block content %}
    This is the default content
    {% endblock %}
  </div>
  <div id="footer">
    {% block footer %}
    &copy; Copyright 2021 by <a href="https://goncalomarantes.com/">Gonçalo Marantes</a>.
    {% endblock %}
  </div>
</body>

</html>